# Sysfs
type sysfs_gestures, sysfs_type, fs_type;
type ipsecd_exec, exec_type, system_ext_file_type, file_type;
type imsipsecstarter_exec, exec_type, system_ext_file_type, file_type;
type imsipsecclient_exec, exec_type, system_ext_file_type, file_type;
type lge_ims_phone_provider_exec, exec_type, system_ext_file_type, file_type;
