# Sysfs
type sysfs_gestures, sysfs_type, fs_type;

type lge_ims_phone_provider_exec, exec_type, system_file_type, file_type;
type ipsecd_exec, exec_type, system_file_type, file_type;
init_daemon_domain(ipsecd)